
<div class="item">
    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
    <p class="desc" [ngClass]="{'strike': !todo.active}">{{todo.title}}>{{todo.desc}}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="todo{{i}}" (click)="onCheckboxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="todo{{i}}">
          Toggle Done
        </label>
      </div>
    <button class="delete btn btn-danger btn-sm" (click)="onclick(todo)">Delete</button>
</div>